%h1= "About"
%br
%h4
  = "Inspiration"
%p
  %strong
    = "PLYSIT"
  = "was created in response to the dictatorial selection of music that John had at our shared work environment, BizDojo."
  = "After an entire day of 90's pop songs, I had to do something."
%hr
%h4
  %a{href: "http://xkcd.com/920/"}= "A solution to XKCD youtube parties."
%p
  = "Que up the videos, and let it play."
%hr
%h4
  = "Pronunciation"
%p
  %strong
    = "PLYSIT"
  = "is pronounced like the word 'explicit' minus the 'ex'."
  = "OR however you want."
%hr
%h4
  = "HashBang + MaoriGeek"
%p
  %strong
    = "PLYSIT"
  = "was developed under the roof of HashBang by a Maori.Geek"
%hr
%h4
  = "Beta Experiment"
%p
  %strong
    = "PLYSIT"
  = "is still in beta, there are bugs, it will be slow."
  = "with enough interest we will try to improve and expand the site."
%p
  = "User feedback is important for PLYSIT's continual development."
  = "Please submit requests to "
  %strong
    = "plysit (at) maori.geek.nz"
