%h1= "FAQ"
%br
%hr
%h4
  = "Why youtube (and not SoundCloud/Spotify/Last.fm/...)?"
%p
  = "Youtube has a well documented, open, and easily accessible API."
  = "With enough interest, later we may include more places to find music."
%hr
%h4
  = "Why not just use Youtube's playlists?"
%p
  = "Plysit aims to let you make playlists faster and collaboratively."
  = "It also does not force a new page to load with each new video."
  = "This is aimed to improve the user experience of creating and watching many videos in a row."
%hr
%h4
  = "Why is there no more FAQ?"
%p
  = "Only these questions have been asked so far..."
  = "Send more questions to plysit (at) maori.geek.nz"
