%h1= "FAQ"
%br
%hr
%h4
  = "Why youtube (and not SoundCloud/Spotify/Last.fm/...)?"
%p
  = "Youtube has a well documented, open, and easily accessible API."
  = "With enough interest, later we may include more places to find music."
%hr
%h4
  = "Why is there no more FAQ?"
%p
  = "Only one question has been asked so far..."
  = "Send more questions to plysit (at) maori.geek.nz"
