!!!
%html
  %head
    %title= "Plysit - Playlist Collaboration"
    = favicon_link_tag "/assets/icon.ico"
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags

%body
  .wrapper
    = render 'shared/top_navigation'
    .container#body
      #playerwrapper{align: "center"}
        #youtubeplayer
      #show-video-btn.btn-primary
        %i.icon-chevron-down.icon-white.pull-left
        Show Video
        %i.icon-chevron-down.icon-white.pull-right
      .row.playlist-row
        .span9
          #playlist
        .span3
          .well.right-hand-nav.sharing
            %h4 Share
            %hr
            = link_to image_tag('twitter_logo.png', :height => 50, :width => 50, :class => 'twitter-logo'), '', :class => 'pull-left logo' 
            = link_to image_tag('facebook_logo.png', :height => 50, :width => 50, :class => 'twitter-logo'), '', :class => 'pull-left logo'
            .clearfix

    .push

  .footer
    .container
      .row
        %br
        .span12


          %button.btn
            %i.icon-fork


= render 'shared/google_analytics'
= google_webfonts_link_tag :unica_one, :lato, :strait
= javascript_include_tag "application"
= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/jquery-ui.min.js"
