!!!
%html
  %head
    %title= "PLYSIT"
    = favicon_link_tag "/assets/icon.ico"
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags

%body
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        .row
          .span2
            %a.brand{href: "/"}
              =image_tag "logo.png"
          #search.span4.pullright
          #playerhead.span4
  .container#body
    .row
      .span9
        #playlist
      .span3
        &nbsp;
  #youtubeplayer


= render 'shared/google_analytics'
= google_webfonts_link_tag :unica_one, :lato, :strait
= javascript_include_tag "application"
= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/jquery-ui.min.js"