!!!
%html
  %head
    %title= Plast
    %link{rel: "shortcut icon", href: "/assets/icon.ico" }
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/jquery-ui.min.js"}
    = csrf_meta_tags
    = google_webfonts_link_tag :unica_one, :lato, :strait

%body
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        .row
          .span2
            %a.brand
              =image_tag "logo.png"
          #search.span4.pullright
          #playerhead.span4
  .container#body
    .row
      .span9
        #playlist
  #youtubeplayer

