!!!
%html
  %head
    %title= "Plysit - Playlist Collaboration"
    %meta{name: "description", content: "PLYSIT is a collaborative playlist creator. Step 1: Create a playlist. Step 2: Collaborate creating and ordering it. Step 3: Share it with the world. PLYSIT simplifies the creation of playlists that must satisfy many people, e.g. in shared workspaces. It also solves the NP-Hard problem posed in XKCD http://xkcd.com/920/ "}
    %meta{name: "keywords",content: "Playlist, Youtube, Video, Collaborate, Share, Player, Music"}
    = favicon_link_tag "/assets/icon.ico"
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    //this is here because google stuff inserts above first script element
    %script
%body
  .wrapper
    = render 'shared/top_navigation'
    .container#body
      #playerwrapper
        #youtubeplayer
      #show-video-btn.btn-primary
        %i.icon-chevron-down.icon-white.pull-left
        Show Video
        %i.icon-chevron-down.icon-white.pull-right
      .row.playlist-row
        .span9
          #playlist
        .span3
          .well.right-hand-nav.sharing
            #step-1-icon.step-icon
            %h4 Create
            .clearfix
            Branch
          .well.right-hand-nav.sharing
            #step-2-icon.step-icon
            %h4 Collaborate
            .clearfix
            %hr
            = link_to image_tag('twitter_logo.png', :height => 50, :width => 50, :class => 'twitter-logo'), '', :class => 'pull-left logo'
            = link_to image_tag('facebook_logo.png', :height => 50, :width => 50, :class => 'twitter-logo'), '', :class => 'pull-left logo'
            .clearfix
            %br
            Allows users to edit playlist

          .well.right-hand-nav.sharing
            #step-3-icon.step-icon
            %h4 Share
            .clearfix
            %hr
            = link_to image_tag('twitter_logo.png', :height => 50, :width => 50, :class => 'twitter-logo'), '', :class => 'pull-left logo'
            = link_to image_tag('facebook_logo.png', :height => 50, :width => 50, :class => 'twitter-logo'), '', :class => 'pull-left logo'
            .clearfix
            %br
            Allows users to play playlist
          .well.right-hand-nav.sharing
            = render 'shared/google_ads'
    .push
  .footer
    .container
      .row
        %br
        .span3.pull-left
          %a.btn{href: "#FAQModal", role: "button", "data-toggle" => "modal"}
            = "FAQ"
          #FAQModal.modal.hide.fade{tabindex: "-1",role:"dialog", "aria-labelledby" => "FAQModal", "aria-hidden" => "true"}
            .modal-header
              %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
                ="×"

              %h3
                = "FAQ PLYSIT"
            .modal-body
              %h4
                = "There are no users, what is the security?"
              %p
                = "People cannot see playlists you create because they do not have it's URL."
                = "If you do not want to collaborate then "
              %h4
                = "How are the items ordered?"
              %p
                = "When you order the items on the playlist, this order is saved to the server."
                = "The orders of all the people collaborating on the playlist are taken into account to produce the shared order."
              %h4
                = "What happens when a collaborator removes and item?"
              %p
                = "If a collaborator removes and item this is also considered in the order."
                = "If enough collaborators remove an item it will no longer be in the list."
              %h4
                = "Why youtube (and not SoundCloud)?"
              %p
                = "The vast amount of videos on youtube means that the song/video you want will probably be there."

            .modal-footer
              = link_to image_tag('hashbang-alt.png'), 'http://hashbang.co.nz/', :target => "_blank"

          %a.btn{href: "#aboutModal", role: "button", "data-toggle" => "modal"}
            = "About"
          #aboutModal.modal.hide.fade{tabindex: "-1",role:"dialog", "aria-labelledby" => "aboutModal", "aria-hidden" => "true"}
            .modal-header
              %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
                ="×"

              %h3
                = "About PLYSIT"
            .modal-body
              %h4
                = "Inspiration"
              %p
                %strong
                  = "PLYSIT"
                = "was created in response to the dictatorial selection of music that John had at our shared work environment, BizDojo."
                = "After we had an entire day of 90's pop that inspired the thought that there should be a site for collaborative playlist creation."
              %hr
              %h4
                = "Pronunciation"
              %p
                %strong
                  = "PLYSIT"
                = "is pronounced like the word 'explicit' minus the 'ex'"
              %hr
              %h4
                = "HashBang + MaoriGeek"
              %p
                %strong
                  = "PLYSIT"
                = "was developed under the roof of HashBang by a Maori.Geek"
              %hr
              %h4
                = "Beta Experiment"
              %p
                %strong
                  = "PLYSIT"
                = "is still in beta, there are bugs, it will be slow."
              %p
                = "User feedback is important for the development and perfection"
                %strong
                  = "PLYSIT"

            .modal-footer
              = link_to image_tag('hashbang-alt.png'), 'http://hashbang.co.nz/', :target => "_blank"

          %a.btn{href: "#feedbackModal", role: "button", "data-toggle" => "modal"}
            = "Feedback"
          #feedbackModal.modal.hide.fade{tabindex: "-1",role:"dialog", "aria-labelledby" => "feedbackModal", "aria-hidden" => "true"}
            .modal-header
              %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
                ="×"

              %h3
                = "Feedback PLYSIT"
            .modal-body
              %p
                = "This is where the form goes"

            .modal-footer
              = link_to image_tag('hashbang-alt.png'), 'http://hashbang.co.nz/', :target => "_blank"
        .span2.pull-right
          = link_to image_tag('hashbang.png'), 'http://hashbang.co.nz/', :target => "_blank"

        /%button.btn
        /%i.icon-fork


= render 'shared/google_analytics'
= google_webfonts_link_tag :unica_one, :lato, :strait
= javascript_include_tag "application"
= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/jquery-ui.min.js"
